= form_for student, as: :student, url: student.new_record? ? students_path : student_path(student) do |f|
  = render 'users/shared/error_messages', resource: student
  .field
    = f.label t('views.students.first_name')
    = f.text_field :first_name
  %br/
  .field
    = f.label t('views.students.last_name')
    = f.text_field :last_name
  %br/
  .field
    = f.label t('views.students.course_name')
    = f.text_field :course_name
  %br/
  .field
    = f.label t('views.students.age')
    = f.text_field :age
  %br/
  .field
    = f.label t('views.students.gender')
    = f.select :gender,
      options_for_select(Student.genders.map { |key, value| [key.titleize, value] }, student.gender)
  %br/
  = f.submit