%h1{ align: 'center' }= t('navigations.students')
%p
  - @students.each do |student|
    %ul
      = student.name
      = link_to t('general.view'), student_path(student)
      |
      = link_to t('general.edit'), edit_student_path(student)
= link_to t('views.students.add_student'), new_student_path
|
= link_to t('general.back'), root_path
|
= link_to t('views.students.download'), students_path(format: 'csv')