%h1{ align: 'center' }= t('views.students.student_details')
%ul
  = t('views.students.full_name')
  = ": #{@student.name}"
%ul
  = t('views.students.course_name')
  = ": #{@student.course_name}"
%ul
  = t('views.students.age')
  = ": #{@student.age}"
%ul
  = t('views.students.gender')
  = ": #{@student.gender}"
= link_to t('general.back'), students_path