#main
  %h2= t('views.home.chat_room')
  #chat_body
    #messages
    %form#send_message
      %input#message{ name: 'message', type: 'text' }/
      %button= t('views.home.send')
  #modal
    %div
      %h4= t('views.home.add_name')
      %form#set_name
        %input#add_name{ name: 'add_name', type: 'text' }/
        %button= t('general.submit')
