%h1{ align: 'center' }
  =t('general.welcome')
- if user_signed_in?
  %h4{ align: 'center' }
    Logged in as
    = succeed "." do
      %strong= current_user.email
    %p
      = link_to t('views.users.edit_profile'), edit_user_registration_path
= link_to t('views.home.enter_chat_room'), chat_room_path
