.row
  .col-xs-10.col-xs-offset-1
    - flash.each do |name, msg|
      %div{ class: "alert alert-#{"#{name}"}"}
        %a.close{"data-dismiss" => "alert", href: "#"} ×
        = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)