!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'httpequiv' => 'Content-Type' }/
    %title= t('general.account_management')
    %meta{ content: 'width=device-width,initial-scale=1', name: 'viewport' }/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - if notice
      %p.alert.alert-success= notice
    - if alert
      %p.alert.alert-danger= alert
    %p.navbar-text.float-right
      .navbar-link
        - if user_signed_in?
          = link_to t('general.logout'), destroy_user_session_path, method: :delete
          |
          = link_to t('navigations.students'), students_path
        - else
          = link_to t('general.signup'), new_user_registration_path
          |
          \#{link_to t('general.login'), new_user_session_path}
    = render 'layouts/messages'
    = yield
